._3j0ceJ {
  padding: 30px 0 40px; }
._1Sjfw- {
  text-transform: uppercase;
  font-family: 'CerebriSans Bold';
  font-weight: 700;
  color: #512FD1;
  font-size: 16px; }
._3J0EOu {
  margin-top: 20px;
  font-family: 'CerebriSans Bold';
  font-weight: 700;
  font-size: 32px; }
  ._3J0EOu:first-child {
    margin-top: 0; }
._3zIboc {
  border-radius: 0 6px 6px 0 !important; }

._1TXLKZ {
  height: 100px;
  width: 700px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

._2lapE0 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

._11f2Sj {
  margin-bottom: 0px;
  margin-right: 25px; }
._3TGsDm {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  background: #fff;
  position: relative;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.08) 0 3px 9px 0; }
  ._3TGsDm._241k3D ._4VDBhE {
    content: '';
    width: 9px;
    height: 9px;
    display: block;
    border-top: 2px solid #828795;
    border-right: 2px solid #828795;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-top: -2px; }

._30-6Oj {
  height: 56px;
  line-height: 56px;
  padding-right: 46px;
  padding-left: 16px;
  cursor: pointer;
  text-align: left;
  font-size: 20px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

._4VDBhE {
  content: '';
  width: 9px;
  height: 9px;
  display: block;
  border-top: 2px solid #828795;
  border-right: 2px solid #828795;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  margin-top: -6px;
  position: absolute;
  top: 50%;
  right: 20px; }

._2ukQw7 {
  min-width: 100%;
  max-height: 224px;
  background-color: #fff;
  margin-top: 4px;
  position: absolute;
  right: 0;
  top: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.08) 0 3px 9px 0; }

._1fOZbQ {
  height: 56px;
  line-height: 56px;
  border-top: 1px solid #ddd;
  padding: 0 16px;
  cursor: pointer;
  text-align: left; }
  ._1fOZbQ:first-child {
    border-top: 0; }
  ._1fOZbQ:hover {
    background-color: #fbfbfb; }
.wo-HER {
  margin-right: 14px;
  -webkit-filter: invert(1);
          filter: invert(1);
  font-size: 20px; }
._3WoNsh {
  font-family: 'CerebriSans Semibold';
  font-weight: 600; }
._2LOdkU {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 58px;
  width: 32px;
  cursor: pointer;
  margin: 0px 25px; }
._1TWvrk {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  ._1TWvrk > div:first-child {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
    z-index: 1; }
  ._1TWvrk > div:last-child {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
    z-index: 2; }
._1wYXYN {
  width: 100%;
  position: relative;
  background-color: #47454a;
  border: 1px solid #fff;
  position: relative;
  border-radius: 50%; }
  ._1wYXYN::after {
    content: '';
    display: block;
    padding-bottom: 100%;
    line-height: 0;
    font-size: 0; }

.mK0HOH {
  height: 50%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

._1Nd751 {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  color: #fff; }
._2R1jZb {
  width: 40px;
  height: 40px;
  background-color: #e91db4;
  position: relative;
  cursor: pointer;
  opacity: 0.5;
  border-radius: 50%; }
  ._2R1jZb::after {
    content: '';
    width: 10px;
    height: 10px;
    display: block;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin: -5px 0 0 -7px;
    position: absolute;
    top: 50%;
    left: 50%; }
  ._2R1jZb:hover {
    opacity: 1; }
._3ORzpx {
  width: 40px;
  height: 40px;
  background-color: #e91db4;
  cursor: pointer;
  position: relative;
  opacity: 0.5;
  border-radius: 50%;
  text-align: center; }
  ._3ORzpx::after {
    content: '';
    background: url(https://swap.online/images/delete_6ab99e.svg);
    background-size: contain;
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 8px);
    width: 16px;
    height: 16px; }
  ._3ORzpx:hover {
    opacity: 1; }
._16xGSI {
  width: 100%;
  border-collapse: collapse;
  border: 0; }
  ._16xGSI thead {
    box-shadow: rgba(0, 0, 0, 0.03) 0 3px 3px 0; }
  ._16xGSI tbody tr {
    border-top: 1px solid #f5f5f5; }
    ._16xGSI tbody tr:first-child {
      border-top: 0; }
  ._16xGSI th, ._16xGSI td {
    border: 0;
    text-align: left;
    white-space: nowrap; }
    ._16xGSI th:first-child, ._16xGSI td:first-child {
      padding-left: 0; }
    ._16xGSI th:last-child, ._16xGSI td:last-child {
      padding-right: 0; }
  ._16xGSI th {
    padding: 10px;
    font-size: 14px;
    color: #bbb; }
  ._16xGSI td {
    padding: 20px 10px; }
._3hz-0j {
  width: 500px;
  padding: 25px 40px;
  border-radius: 10px;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.06);
  display: none;
  position: absolute;
  background: #ffffff;
  top: 250px;
  left: calc(20%);
  z-index: 999; }

._2QfucO {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: _1BY5jO 0.8s ease-in-out forwards;
          animation: _1BY5jO 0.8s ease-in-out forwards; }

._3sMVTN {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

@-webkit-keyframes _1BY5jO {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes _1BY5jO {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@media screen and (max-width: 860px) {
  ._3hz-0j {
    width: 320px;
    padding: 25px 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  ._3sMVTN {
    margin-top: 10px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; } }
.qJheS4 {
  height: 56px;
  padding: 0 16px;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  cursor: pointer;
  line-height: 56px;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  border-radius: 6px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: background-color 0.23s ease, color 0.23s ease;
  transition: background-color 0.23s ease, color 0.23s ease; }

._2Gzkvz {
  width: 100%;
  display: block;
  padding: 0; }

._3zY6WO {
  background-color: #E72BB3;
  color: #fff; }
  ._3zY6WO:hover {
    background-color: #ea42bb; }

._s-GvI {
  background-color: #3de25b;
  color: #000; }
  ._s-GvI:hover {
    background-color: #53e56e; }

.ewAS27 {
  background-color: #fff;
  color: #000;
  border: 2px solid #e24d4d; }
  .ewAS27:hover {
    background-color: #e1e1e1; }

._9dfBig {
  background-color: #F2F2F2;
  color: #000; }
  ._9dfBig:hover {
    background-color: #d9d9d9; }

._1WzQpi {
  background-color: #dbdbdb !important;
  cursor: default !important;
  color: #626262 !important; }
._34whwW {
  font-size: 28px;
  font-weight: bold; }

._1iYant {
  margin-top: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

@media screen and (max-width: 860px) {
  ._1iYant {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  ._34whwW {
    font-size: 22px; } }
._37f8Rw {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: left;
      -ms-flex-line-pack: left;
          align-content: left; }
.VULoRE {
  margin-right: 10px; }

._2Yltkm {
  font-size: 14px;
  position: absolute;
  padding: 5px 15px;
  background: #f8f3fe;
  top: -16px;
  left: calc(10%);
  border-radius: 20px; }

._2a2uAb {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  height: 40px;
  background: #f8f3fe;
  padding: 0 25px;
  cursor: pointer;
  line-height: 40px;
  font-size: 16px;
  font-weight: 500;
  color: #7c1de9;
  border-radius: 20px;
  margin-right: 10px; }
  ._2a2uAb:hover {
    color: #7c1de9;
    background: #dfc5ff; }
._2yf2Si {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  height: 40px;
  background: #f8f3fe;
  padding: 0 25px;
  cursor: pointer;
  line-height: 40px;
  font-size: 16px;
  font-weight: 500;
  color: #7c1de9;
  border-radius: 20px; }
  ._2yf2Si:hover {
    color: #7c1de9;
    background: #dfc5ff; }
._2NgnzZ {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  background: #f8f3fe;
  cursor: pointer;
  line-height: 40px;
  text-align: center;
  border-radius: 50%; }
  ._2NgnzZ:hover {
    background: #dfc5ff; }

.tps3tZ {
  height: 20px; }
._2Zo-qQ {
  width: 60px;
  height: 12px;
  display: inline-block;
  position: relative; }

._2Zo-qQ div {
  width: 11px;
  height: 11px;
  background: #333;
  position: absolute;
  top: 0;
  border-radius: 50%;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0); }

._2Zo-qQ div:nth-child(1) {
  left: 6px;
  -webkit-animation: _2_LbWQ 0.6s infinite;
          animation: _2_LbWQ 0.6s infinite; }

._2Zo-qQ div:nth-child(2) {
  left: 6px;
  -webkit-animation: _2fJ8Hd 0.6s infinite;
          animation: _2fJ8Hd 0.6s infinite; }

._2Zo-qQ div:nth-child(3) {
  left: 26px;
  -webkit-animation: _2fJ8Hd 0.6s infinite;
          animation: _2fJ8Hd 0.6s infinite; }

._2Zo-qQ div:nth-child(4) {
  left: 45px;
  -webkit-animation: _2Nlot5 0.6s infinite;
          animation: _2Nlot5 0.6s infinite; }

@-webkit-keyframes _2_LbWQ {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes _2_LbWQ {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@-webkit-keyframes _2Nlot5 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0); } }

@keyframes _2Nlot5 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0); } }

@-webkit-keyframes _2fJ8Hd {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(19px, 0);
            transform: translate(19px, 0); } }

@keyframes _2fJ8Hd {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(19px, 0);
            transform: translate(19px, 0); } }
._1bLBL3 {
  text-decoration: none !important;
  color: #2181F7 !important; }
  ._1bLBL3:hover {
    color: #3b95ff !important; }
.r9K_HC {
  margin-bottom: 40px; }

.xJUwLa {
  font-size: 18px;
  opacity: 0.6;
  color: #000;
  margin-right: 45px;
  font-weight: bold;
  text-decoration: none; }

.xJUwLa:hover {
  color: #000;
  opacity: 1; }

._2ZTLX3 {
  opacity: 1;
  border-bottom: 2px solid #500ed8; }
.B1fidj {
  font-size: 16px; }
  .B1fidj._2WudR1 {
    color: #3bb33b; }
  .B1fidj._3MGYaP {
    color: #ff4e34; }

._38S3z2 {
  color: #3bb33b; }

._2NV1PP {
  color: #ff354b; }

._3qRLEP {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #aaa; }

.qb31A4 {
  margin-top: 5px;
  font-size: 14px; }

.z9ksse {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  height: 40px;
  background-color: #f2f2f2;
  padding: 0 25px;
  line-height: 40px;
  font-size: 16px;
  border-radius: 20px; }
._2r_r4O {
  width: 100%;
  height: 88px;
  border-radius: 8px;
  background: #fff;
  padding: 0 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

._3WpTos {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #333;
  margin-bottom: 5px; }

._3gXDHB {
  font-size: 14px;
  font-weight: 700;
  min-width: 120px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

._1Bhe2F {
  color: #b4b4b4; }

._2ngzAU {
  width: 250px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

._35_AM9 {
  display: inline-block;
  width: 5px; }

._35_AM9 img {
  display: block;
  width: 100%;
  height: auto; }

._3j5kMd {
  width: 40px;
  height: 40px;
  background: #f2f9f2;
  border-radius: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer; }
  ._3j5kMd:hover {
    background: #f2f9f2 url(https://swap.online/images/accept_cbb01c.svg) 50% 50% no-repeat; }

._156Iwl {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  height: 40px;
  background: #f8f3fe;
  padding: 0 25px;
  cursor: pointer;
  line-height: 40px;
  font-size: 16px;
  font-weight: 500;
  color: #7c1de9;
  border-radius: 20px; }
  ._156Iwl:hover {
    color: #7c1de9;
    background: #dfc5ff; }

._32jIf3 {
  width: 12px;
  height: 8px;
  border: solid 2px #3bb33b; }
._3gjuKq {
  position: relative;
  z-index: 3;
  padding-top: 88px;
  padding-bottom: 100px; }
/*! sanitize.css v4.1.0 | CC0 License | github.com/jonathantneal/sanitize.css */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

template,
[hidden] {
  display: none; }

*,
::before,
::after {
  background-repeat: no-repeat;
  box-sizing: inherit; }

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit; }

html {
  box-sizing: border-box;
  cursor: default;
  font-family: sans-serif;
  line-height: 1.5;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

hr {
  height: 0;
  overflow: visible; }

nav ol,
nav ul {
  list-style: none; }

abbr[title] {
  border-bottom: 1px dotted;
  text-decoration: none; }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: bolder; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

progress {
  vertical-align: baseline; }

small {
  font-size: 83.3333%; }

sub,
sup {
  font-size: 83.3333%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

::-moz-selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none; }

::selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

img {
  border-style: none; }

svg {
  fill: currentColor; }
  svg:not(:root) {
    overflow: hidden; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
  a:hover {
    outline-width: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
  font-size: 1em;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; }

::-moz-focus-inner {
  border-style: none;
  padding: 0; }

:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

textarea {
  overflow: auto;
  resize: vertical; }

[type='checkbox'],
[type='radio'] {
  padding: 0; }

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto; }

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

::-webkit-search-cancel-button,
::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: .54; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

[aria-busy='true'] {
  cursor: progress; }

[aria-controls] {
  cursor: pointer; }

[aria-disabled] {
  cursor: default; }

a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

[hidden][aria-hidden='false'] {
  clip: rect(0, 0, 0, 0);
  display: inherit;
  position: absolute; }
  [hidden][aria-hidden='false']:focus {
    clip: auto; }

@font-face {
  font-family: 'CerebriSans';
  src: url(https://swap.online/fonts/CerebriSans-Regular.eot);
  src: url(https://swap.online/fonts/CerebriSans-Regular.eot?#iefix) format("embedded-opentype"), url(https://swap.online/fonts/CerebriSans-Regular.woff2) format("woff2"), url(https://swap.online/fonts/CerebriSans-Regular.woff) format("woff"), url(https://swap.online/fonts/CerebriSans-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'CerebriSans SemiBold';
  src: url(https://swap.online/fonts/CerebriSans-SemiBold.eot);
  src: url(https://swap.online/fonts/CerebriSans-SemiBold.eot?#iefix) format("embedded-opentype"), url(https://swap.online/fonts/CerebriSans-SemiBold.woff2) format("woff2"), url(https://swap.online/fonts/CerebriSans-SemiBold.woff) format("woff"), url(https://swap.online/fonts/CerebriSans-SemiBold.ttf) format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'CerebriSans Bold';
  src: url(https://swap.online/fonts/CerebriSans-Bold.eot);
  src: url(https://swap.online/fonts/CerebriSans-Bold.eot?#iefix) format("embedded-opentype"), url(https://swap.online/fonts/CerebriSans-Bold.woff2) format("woff2"), url(https://swap.online/fonts/CerebriSans-Bold.woff) format("woff"), url(https://swap.online/fonts/CerebriSans-Bold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal; }

body {
  font-family: 'CerebriSans', sans-serif;
  font-size: 16px; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.UVZ-gM {
  display: block !important; }

a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none; }

button:hover,
button:active,
button:focus,
._2xXs60:hover,
._2xXs60:active,
._2xXs60:focus,
._2xXs60:active:focus {
  outline: none; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }
.qZaPkJ {
  height: 88px;
  width: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#510ed8+0,510ed8+70,8821ee+100 */
  background: #510ed8;
  /* Old browsers */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #510ed8 0%, #510ed8 70%, #8821ee 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #510ed8 0%, #510ed8 70%, #8821ee 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#510ed8', endColorstr='#8821ee',GradientType=1 );
  /* IE6-9 */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4; }

._1AYBnf {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
._3BXipS {
  max-width: 1100px;
  margin: 0 auto; }

._3Igl7j._3gxpYb {
  position: relative; }

._1GF4SW {
  height: 100%; }

._3RUiHP {
  text-align: center; }

@media (max-width: 568px) {
  ._3BXipS {
    padding-right: 4.6875vw;
    padding-left: 4.6875vw; }
    ._3BXipS._3aO2EZ {
      padding-top: 9.375vw;
      padding-bottom: 12.5vw; } }

@media (min-width: 569px) {
  ._3BXipS._3aO2EZ {
    padding-top: 30px;
    padding-bottom: 40px; } }

@media (min-width: 569px) and (max-width: 1024px) {
  ._3BXipS {
    padding-right: 40px;
    padding-left: 40px; } }

@media (min-width: 1025px) {
  ._3BXipS {
    padding-right: 2%;
    padding-left: 2%; } }
.kQLHsU {
  width: 32px;
  height: 30px;
  display: block; }
  .kQLHsU img {
    display: block; }
._34R6Y0 {
  height: 100%;
  min-width: 0;
  -webkit-box-flex: 1;
  -webkit-flex: auto 1 1;
      -ms-flex: auto 1 1;
          flex: auto 1 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 50px; }

._16Gtic {
  margin-left: 25px;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: #dccef7; }
  ._16Gtic:first-child {
    margin-left: 0; }
  ._16Gtic:hover {
    color: #fff; }
  ._16Gtic._2Mv-fo {
    border-bottom: 2px solid #fff;
    font-weight: 700;
    color: #fff; }

._2FJYaq {
  padding: 0 16px;
  height: 56px;
  cursor: pointer;
  margin-left: 20px;
  line-height: 56px;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  display: inline-block;
  background-color: #E72BB3;
  color: #ffffff; }

@media screen and (max-width: 860px) {
  ._16Gtic {
    display: none; }
  ._34R6Y0 {
    padding: 0; }
  ._2FJYaq {
    display: none; } }
._33Ia7P {
  float: right;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 88px;
  position: relative; }

._3MuJfF {
  opacity: 0;
  visibility: hidden; }
._3-kNLg, ._3jxypg {
  min-width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  background-color: #e91db4;
  margin-right: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 20px;
  position: relative; }
  ._3-kNLg:hover, ._3jxypg:hover {
    background-color: #ff1fc5; }

._3jxypg {
  background: #e91db4 url(https://swap.online/images/add_8424d0.svg) 50% 50% no-repeat;
  padding: 0;
  display: none; }

@media screen and (max-width: 860px) {
  ._3jxypg {
    display: block; }
  ._3-kNLg {
    display: none; } }
._3R8ezp {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  cursor: pointer; }

._18U74M {
  width: 20px;
  height: 20px; }

._1EDMx_ {
  position: absolute;
  right: 0;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #e91db4; }

._3UWWZN {
  border: 2px solid #ff1fc5; }

._3RMI-t {
  -webkit-animation: _3RMI-t 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          animation: _3RMI-t 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000px;
          perspective: 1000px; }

@-webkit-keyframes _3RMI-t {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0); } }

@keyframes _3RMI-t {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0); } }
._1gVhNf {
  position: absolute;
  min-width: 360px;
  top: 68px;
  right: 0; }

._2nP3zE {
  min-width: 50%;
  height: 20px;
  padding: 25px 0;
  text-align: center;
  border-radius: 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.06);
  margin-top: 10px; }

.ZUrxv8 {
  width: 100%;
  height: 88px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.06);
  padding: 0 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

._3Wmf4W {
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  color: #333;
  margin-bottom: 5px; }

.n4WzMO {
  font-size: 14px;
  font-weight: 700;
  width: 220px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.FTx5Zs {
  color: #b4b4b4; }

._1HGghg {
  display: inline-block;
  width: 5px; }

._1HGghg img {
  display: block;
  width: 100%;
  height: auto; }

.Rrpe2k {
  width: 40px;
  height: 40px;
  background: #f2f9f2 url(https://swap.online/images/accept_cbb01c.svg) 50% 50% no-repeat;
  border-radius: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer; }

.hRKJDr {
  width: 12px;
  height: 8px;
  border: solid 2px #3bb33b; }
._1UkgHE {
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  display: none;
  cursor: pointer;
  background-color: #E72BB3;
  background-size: contain;
  position: relative;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 10px; }

._1J2Fju {
  width: 18px;
  height: 18px; }

@media screen and (max-width: 860px) {
  ._1UkgHE {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }
._2cBFU2 {
  width: 280px;
  background: #fff;
  box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.06);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 25px;
  position: fixed;
  top: 100px;
  left: calc(50% - 150px);
  border-radius: 10px;
  -webkit-animation: _2lEv-g 0.7s ease-in-out forwards;
          animation: _2lEv-g 0.7s ease-in-out forwards; }

.tZV82X {
  display: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  position: absolute; }

._2-UEI7 {
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: #E72BB3; }
  ._2-UEI7:hover {
    color: #e700ab;
    font-weight: bold; }

._2LQQgA {
  padding: 0 16px;
  height: 56px;
  cursor: pointer;
  margin-top: 10px;
  line-height: 56px;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  border-radius: 10px;
  display: inline-block;
  background-color: #E72BB3;
  color: #ffffff; }

@-webkit-keyframes _2lEv-g {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px); }
  50% {
    -webkit-transform: translateY(200px);
            transform: translateY(200px); }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px); } }

@keyframes _2lEv-g {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px); }
  50% {
    -webkit-transform: translateY(200px);
            transform: translateY(200px); }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px); } }
@-webkit-keyframes B8rIc7 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(25%, -50%, 0) rotateY(-77deg);
            transform: translate3d(25%, -50%, 0) rotateY(-77deg); }
  30% {
    opacity: 1; }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-15%, -50%, 0) rotateY(-37deg);
            transform: translate3d(-15%, -50%, 0) rotateY(-37deg); }
  75% {
    opacity: 0; }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-15%, -50%, 0) rotateY(-37deg);
            transform: translate3d(-15%, -50%, 0) rotateY(-37deg); } }

@keyframes B8rIc7 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(25%, -50%, 0) rotateY(-77deg);
            transform: translate3d(25%, -50%, 0) rotateY(-77deg); }
  30% {
    opacity: 1; }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-15%, -50%, 0) rotateY(-37deg);
            transform: translate3d(-15%, -50%, 0) rotateY(-37deg); }
  75% {
    opacity: 0; }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-15%, -50%, 0) rotateY(-37deg);
            transform: translate3d(-15%, -50%, 0) rotateY(-37deg); } }

@-webkit-keyframes _2dF68e {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(20%, -50%, 0) rotateY(-107deg);
            transform: translate3d(20%, -50%, 0) rotateY(-107deg); }
  30% {
    opacity: 1; }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-60%, -50%, 0) rotateY(-57deg);
            transform: translate3d(-60%, -50%, 0) rotateY(-57deg); }
  75% {
    opacity: 0; }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-60%, -50%, 0) rotateY(-57deg);
            transform: translate3d(-60%, -50%, 0) rotateY(-57deg); } }

@keyframes _2dF68e {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(20%, -50%, 0) rotateY(-107deg);
            transform: translate3d(20%, -50%, 0) rotateY(-107deg); }
  30% {
    opacity: 1; }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-60%, -50%, 0) rotateY(-57deg);
            transform: translate3d(-60%, -50%, 0) rotateY(-57deg); }
  75% {
    opacity: 0; }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-60%, -50%, 0) rotateY(-57deg);
            transform: translate3d(-60%, -50%, 0) rotateY(-57deg); } }

@-webkit-keyframes _1fAQsv {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(50%, -50%, 0);
            transform: translate3d(50%, -50%, 0); }
  30% {
    opacity: 1; }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0); }
  75% {
    opacity: 0; }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0); } }

@keyframes _1fAQsv {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(50%, -50%, 0);
            transform: translate3d(50%, -50%, 0); }
  30% {
    opacity: 1; }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0); }
  75% {
    opacity: 0; }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0); } }

._3V4vPK {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000; }

._37qfX_ {
  width: 100px;
  height: 100px;
  -webkit-perspective: 60px;
          perspective: 60px;
  -webkit-perspective-origin: 7% 57%;
          perspective-origin: 7% 57%; }
  ._37qfX_._1Cc0hi {
    width: 50px;
    height: 50px;
    -webkit-perspective: 30px;
    perspective: 30px; }
  ._37qfX_._3wUrWW {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; }

.B8rIc7, ._2dF68e, ._1fAQsv {
  position: absolute;
  opacity: 0; }

.B8rIc7:first-child, ._2dF68e:first-child, ._1fAQsv:first-child {
  margin-left: 0; }

.B8rIc7 {
  width: 28%;
  height: 80%;
  background: -webkit-linear-gradient(#6829df, #5124d5);
  background: linear-gradient(#6829df, #5124d5);
  left: 0;
  top: 50%;
  -webkit-transform: translate3d(25%, -50%, 0) rotateY(-77deg);
          transform: translate3d(25%, -50%, 0) rotateY(-77deg);
  -webkit-animation: B8rIc7 1.6s infinite;
          animation: B8rIc7 1.6s infinite; }

._2dF68e {
  width: 20%;
  height: 63%;
  background: -webkit-linear-gradient(#702be1, #623ad9);
  background: linear-gradient(#702be1, #623ad9);
  left: 48%;
  top: 50%;
  -webkit-transform: translate3d(20%, -50%, 0) rotateY(-107deg);
          transform: translate3d(20%, -50%, 0) rotateY(-107deg);
  -webkit-animation: _2dF68e 1.6s infinite;
          animation: _2dF68e 1.6s infinite;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

._1fAQsv {
  width: 28%;
  height: 33%;
  right: 0;
  top: 47%;
  overflow: hidden;
  -webkit-transform: translate3d(50%, -50%, 0);
          transform: translate3d(50%, -50%, 0);
  -webkit-animation: _1fAQsv 1.6s infinite;
          animation: _1fAQsv 1.6s infinite;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
  ._1fAQsv::after {
    content: '';
    display: block;
    width: 100%;
    height: 140%;
    background: -webkit-linear-gradient(295deg, #802cf6, #5023d5);
    background: linear-gradient(155deg, #802cf6, #5023d5);
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate3d(-37%, -37%, 0) rotate(40deg);
            transform: translate3d(-37%, -37%, 0) rotate(40deg); }
._2EHTMr {
  min-width: 400px; }
._3d-lMl {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.utYl-8 {
  height: 88px;
  border-bottom: 1px solid #ddd; }

._2FzjWy {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }

._1H7w4U {
  min-width: 0;
  -webkit-box-flex: 1;
  -webkit-flex: auto 1 1;
      -ms-flex: auto 1 1;
          flex: auto 1 1;
  line-height: 22px;
  font-size: 24px;
  text-align: center; }
  ._1H7w4U._1XykmZ {
    text-transform: uppercase; }

._3UgYwG {
  width: 20px;
  height: 20px;
  opacity: 0.5;
  -webkit-transition: opacity 0.33s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: opacity 0.33s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
  ._3UgYwG:hover {
    opacity: 1;
    -webkit-transition: none;
    transition: none; }

._2OSr4P {
  min-height: 0;
  -webkit-box-flex: 1;
  -webkit-flex: auto 1 1;
      -ms-flex: auto 1 1;
          flex: auto 1 1;
  position: relative;
  padding: 0 30px; }

._2SEeRQ {
  min-width: 300px;
  padding: 40px 0 100px;
  font-size: 16px; }
.a_1CO5 {
  width: 100%;
  height: 100%;
  display: block;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500; }

@media (max-width: 568px) {
  .a_1CO5 {
    position: absolute; } }
._1uK09U {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  text-align: center;
  font-size: 0; }
  ._1uK09U::before {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle; }
  ._1uK09U._1K6mUM {
    overflow: auto; }

._1xMZgg {
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
  text-align: left; }
._3KAFwf {
  cursor: pointer;
  background: none;
  border: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent; }
  ._3KAFwf._1qVzDl ._2g6BBl::before, ._3KAFwf._1qVzDl ._2g6BBl::after {
    background-color: #fff; }
  ._3KAFwf._1qVzDl:hover ._2g6BBl::before, ._3KAFwf._1qVzDl:hover ._2g6BBl::after {
    background-color: #512FD1; }
  ._3KAFwf._1ZJhlM ._2g6BBl::before, ._3KAFwf._1ZJhlM ._2g6BBl::after {
    background-color: #512FD1; }
  ._3KAFwf._1ZJhlM:hover ._2g6BBl::before, ._3KAFwf._1ZJhlM:hover ._2g6BBl::after {
    background-color: #000; }

._2g6BBl {
  width: inherit;
  height: inherit;
  position: relative;
  overflow: hidden;
  pointer-events: none; }
  ._2g6BBl::before, ._2g6BBl::after {
    content: '';
    width: 50px;
    height: 1px;
    display: block;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 50%; }
  ._2g6BBl::before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg); }
  ._2g6BBl::after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg); }

@media (max-width: 568px) {
  ._3KAFwf::before {
    width: 11.25vw;
    height: 11.25vw; } }

@media (min-width: 569px) {
  ._3KAFwf::before {
    width: 36px;
    height: 36px; } }
._2SFTdv {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px; }

._3Z13ki {
  margin-top: 50px; }

._1IOrqN {
  width: 200px;
  padding: 0; }
._2KYO-l {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

@media (max-width: 568px) {
  ._2KYO-l {
    margin-top: -2.5vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    ._2KYO-l [role="button"] {
      width: 100%;
      margin-top: 2.5vw; } }

@media (min-width: 569px) {
  ._2KYO-l {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    ._2KYO-l [role="button"] {
      margin-left: 8px; }
      ._2KYO-l [role="button"]:first-child {
        margin-left: 0; } }
._1JeVyh {
  content: '';
  width: 6px;
  height: 6px;
  display: block;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 0 12px 0 10px; }
._3kZbpm {
  margin-top: 25px; }
  ._3kZbpm:first-child {
    margin-top: 0; }

._2-aWLd {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-align: center;
  color: #b2b2b2; }

._2ALy7S {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase; }
._1MvMZq {
  font-family: 'CerebriSans Semibold';
  font-weight: 600; }

.ka6sxH {
  color: #b2b2b2; }
._62CYy3 {
  margin: 0 12px;
  font-family: 'CerebriSans Semibold';
  font-weight: 600; }
._3Ru-5o {
  position: relative;
  z-index: 10; }

._3riRsA {
  margin-top: 50px; }
._2QVvGM {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.08) 0 3px 9px 0;
  border-radius: 6px; }

._2gYR9R {
  min-width: 0;
  -webkit-box-flex: 1;
  -webkit-flex: auto 1 1;
      -ms-flex: auto 1 1;
          flex: auto 1 1; }

.zgZs0H {
  border-radius: 6px 0 0 6px !important;
  box-shadow: none !important; }

._3zcmBj {
  border-radius: 0 6px 6px 0 !important; }
._1AbkiC {
  margin-bottom: 6px; }

._2Hoger {
  margin-top: 20px; }
  ._2Hoger:first-child {
    margin-top: 0; }
input, textarea {
  background: none;
  outline: none;
  border: 0;
  border-radius: 0; }

._1aWblp {
  display: block; }

._2di3Mb {
  position: relative;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.08) 0 3px 9px 0;
  border-radius: 6px; }
  ._2di3Mb._3u8Uu2 {
    background-color: #fafafa; }
  ._2di3Mb._3RwSrH {
    border-color: #e32950; }
    ._2di3Mb._3RwSrH ._3T0zd_ ~ ._3xlNvF {
      color: #e32950; }

._3T0zd_ {
  width: 100%;
  height: 56px;
  padding: 0 16px;
  vertical-align: top;
  line-height: 16px;
  font-size: 16px;
  font-family: 'CerebriSans';
  font-weight: normal;
  color: #000; }
  ._3T0zd_:focus {
    border-color: #6F8BC2; }

textarea._3T0zd_ {
  line-height: 18px;
  padding: 11px 12px;
  font-size: 16px;
  -webkit-transition: padding 0.13s linear;
  transition: padding 0.13s linear; }
  textarea._3T0zd_::-webkit-input-placeholder {
    line-height: 18px; }
  textarea._3T0zd_:-moz-placeholder {
    line-height: 18px; }
  textarea._3T0zd_::-moz-placeholder {
    line-height: 18px; }
  textarea._3T0zd_:-ms-input-placeholder {
    line-height: 18px; }

._3LmV0i {
  margin-top: 6px;
  font-size: 14px;
  color: #e32950; }
  ._3LmV0i [role="errorLink"] {
    display: inline !important;
    color: inherit !important;
    vertical-align: inherit !important;
    text-decoration: underline !important; }
._1TBx4e {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.08) 0 3px 9px 0;
  border-radius: 6px;
  height: 56px;
  margin-top: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  ._1TBx4e p {
    margin: 0; }

._1fGtMw {
  color: #3b95ff;
  cursor: pointer; }
  ._1fGtMw:hover {
    color: #3692ff; }
._rh3p5 {
  margin-top: 6px;
  font-size: 14px;
  color: #aaa; }

._36O4pp {
  margin-top: 40px; }
._3ixJuZ [role="title"] {
  font-size: 40px;
  font-family: 'CerebriSans Bold';
  font-weight: 700;
  color: #ff354b; }

._3o3Tl_ {
  max-width: 700px;
  margin: 0 auto;
  text-align: center; }

._1HvQwA {
  margin-bottom: 30px;
  color: #ff354b;
  font-size: 24px; }

._2vKFTm {
  text-transform: uppercase;
  font-family: 'CerebriSans Bold';
  font-weight: 700;
  font-size: 30px;
  color: #000; }

._19cTFn {
  margin-top: 40px; }
._2VJQBX {
  margin-top: 10px; }
  ._2VJQBX:first-child {
    margin-top: 0; }

._3kogcs {
  background-color: #e24d4d;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px;
  border-radius: 6px; }

._2soNit {
  padding: 0 20px 0 14px;
  font-size: 18px;
  color: #fff; }

.BtOAgk {
  min-width: 0;
  -webkit-box-flex: 1;
  -webkit-flex: auto 1 1;
      -ms-flex: auto 1 1;
          flex: auto 1 1; }

.guRICj {
  min-width: 100px;
  margin-left: 10px; }

.vB1kUx {
  margin-top: 10px;
  font-size: 18px;
  font-family: 'CerebriSans Bold';
  font-weight: 700; }
.qe8yZ6 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 305; }
._3M190E {
  font-family: 'CerebriSans Bold';
  font-weight: 700; }
._1rGs3i {
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  -webkit-transition: margin-top 0.1s linear 0.4s, margin-bottom 0.1s linear 0.4s;
  transition: margin-top 0.1s linear 0.4s, margin-bottom 0.1s linear 0.4s;
  margin-top: 0; }
  ._1rGs3i._3e2bwy {
    margin-top: 10px; }
  ._1rGs3i._359s7d {
    overflow: hidden;
    -webkit-transition: margin-top 0.1s linear 0s, margin-bottom 0.1s linear 0s;
    transition: margin-top 0.1s linear 0s, margin-bottom 0.1s linear 0s;
    margin-top: 0; }

._2HVVjT {
  min-width: 300px;
  max-width: 500px;
  background-color: #fff;
  position: relative;
  margin-top: -100%;
  opacity: 0;
  font-size: 14px;
  color: #000;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 10px; }
  ._2HVVjT._3e2bwy {
    margin-top: 0 !important;
    opacity: 1 !important;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear; }
  ._2HVVjT._359s7d {
    margin-top: -100% !important;
    opacity: 0.5 !important; }

._2sHyls {
  padding: 15px 25px;
  font-size: 18px; }
.xt8YYA {
  font-family: 'CerebriSans Bold';
  font-weight: 700; }
._8T39zz {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap-reverse;
      -ms-flex-wrap: wrap-reverse;
          flex-wrap: wrap-reverse;
  position: fixed;
  top: 0;
  right: 5px;
  z-index: 306; }
